{% extends 'base.html' %}
{% load static %}

{% block banner %}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h2 class="header orange-text center">Learning</h2>
        <h5 class="header col s12 light center">Earn your certificate, learn a new skill or degree here with Pendulum.</h5>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="section">
    <h4>Categories</h4>
    <div class="divider"></div>
</div>

<div class="row">
{% for category in categories %}
    <div class="col s10 m4">
      <a href="{% url 'category-courses' category.slug %}" >
        <div class="card-panel teal center-align" >
        <i class="material-icons large white-text">{{ category.icon }}</i>
         <h6><a class="white-text">{{ category.title }}</a></h6>  
        </div>
      </a>
    </div>
{% endfor %}     
</div>
{% endblock %}